html,body {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  height: 100%;
}

body {
  background-color: #f0f0f0;
}

h1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container-fluid {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

#results {
  flex: 1;
  min-height: 0;
}

#classifications {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  flex: 1;
  overflow-y: scroll;
}

#filters {
  flex: 0;
}

#properties {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  flex: 1;
  overflow-y: auto;
  background-image: url('../images/DigiBase.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 20em;
}
.selected
{
  background-color: #fe3917;
}
